<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <h1>csg-bot api</h1>
    <div>
        <p> you only have to click this button once. (hopefully)</p>
        <form action="/setup" method="post">
            <button type="submit" >Setup</button>
        </form>
    </div>
</body>
</html>